# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\molte\OneDrive\Desktop\Master year 1\Semester 1\Advanced Operating Systems (NOS)\Legion16\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
